---
export interface Props {
  title?: string;
  ariaHidden?: boolean;
  class?: string;
}

const { title = 'Ethotechnics Institute', ariaHidden = false, class: className } =
  Astro.props as Props;
---
<svg
  class={className}
  role="img"
  aria-label={title}
  aria-hidden={ariaHidden}
  viewBox="0 0 240 56"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>{title}</title>
  <use href="#wordmark"></use>
</svg>
